<!doctype html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Go standard library</title>
	<link rel="stylesheet" type="text/css" href="/gostd.css">
</head>

<body>

<div class="pkgnavi">
<h1><a href="/gostd/index.html">Go Standard Library</a></h1>
<h2>text/template</h2>
<ul>
<li><a href="/gostd/text/template/doc.go.html" class="current">doc.go</a></li>
<li><a href="/gostd/text/template/example_test.go.html">example_test.go</a></li>
<li><a href="/gostd/text/template/examplefiles_test.go.html">examplefiles_test.go</a></li>
<li><a href="/gostd/text/template/examplefunc_test.go.html">examplefunc_test.go</a></li>
<li><a href="/gostd/text/template/exec.go.html">exec.go</a></li>
<li><a href="/gostd/text/template/exec_test.go.html">exec_test.go</a></li>
<li><a href="/gostd/text/template/funcs.go.html">funcs.go</a></li>
<li><a href="/gostd/text/template/helper.go.html">helper.go</a></li>
<li><a href="/gostd/text/template/multi_test.go.html">multi_test.go</a></li>
<li><a href="/gostd/text/template/template.go.html">template.go</a></li>
</ul>
</div>
<div class="code">
<span class="lineno">1</span><span class="comment" id="4557040">//&nbsp;Copyright&nbsp;2011&nbsp;The&nbsp;Go&nbsp;Authors.&nbsp;All&nbsp;rights&nbsp;reserved.</span><br>
<span class="lineno"></span><span class="comment" id="4557095">//&nbsp;Use&nbsp;of&nbsp;this&nbsp;source&nbsp;code&nbsp;is&nbsp;governed&nbsp;by&nbsp;a&nbsp;BSD-style</span><br>
<span class="lineno"></span><span class="comment" id="4557149">//&nbsp;license&nbsp;that&nbsp;can&nbsp;be&nbsp;found&nbsp;in&nbsp;the&nbsp;LICENSE&nbsp;file.</span><br>
<span class="lineno"></span><br>
<span class="lineno">5</span><span class="comment" id="4557200">/*<br>
<span class="lineno"></span>Package&nbsp;template&nbsp;implements&nbsp;data-driven&nbsp;templates&nbsp;for&nbsp;generating&nbsp;textual&nbsp;output.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>To&nbsp;generate&nbsp;HTML&nbsp;output,&nbsp;see&nbsp;package&nbsp;html/template,&nbsp;which&nbsp;has&nbsp;the&nbsp;same&nbsp;interface<br>
<span class="lineno"></span>as&nbsp;this&nbsp;package&nbsp;but&nbsp;automatically&nbsp;secures&nbsp;HTML&nbsp;output&nbsp;against&nbsp;certain&nbsp;attacks.<br>
<span class="lineno">10</span><br>
<span class="lineno"></span>Templates&nbsp;are&nbsp;executed&nbsp;by&nbsp;applying&nbsp;them&nbsp;to&nbsp;a&nbsp;data&nbsp;structure.&nbsp;Annotations&nbsp;in&nbsp;the<br>
<span class="lineno"></span>template&nbsp;refer&nbsp;to&nbsp;elements&nbsp;of&nbsp;the&nbsp;data&nbsp;structure&nbsp;(typically&nbsp;a&nbsp;field&nbsp;of&nbsp;a&nbsp;struct<br>
<span class="lineno"></span>or&nbsp;a&nbsp;key&nbsp;in&nbsp;a&nbsp;map)&nbsp;to&nbsp;control&nbsp;execution&nbsp;and&nbsp;derive&nbsp;values&nbsp;to&nbsp;be&nbsp;displayed.<br>
<span class="lineno"></span>Execution&nbsp;of&nbsp;the&nbsp;template&nbsp;walks&nbsp;the&nbsp;structure&nbsp;and&nbsp;sets&nbsp;the&nbsp;cursor,&nbsp;represented<br>
<span class="lineno">15</span>by&nbsp;a&nbsp;period&nbsp;&#39;.&#39;&nbsp;and&nbsp;called&nbsp;&#34;dot&#34;,&nbsp;to&nbsp;the&nbsp;value&nbsp;at&nbsp;the&nbsp;current&nbsp;location&nbsp;in&nbsp;the<br>
<span class="lineno"></span>structure&nbsp;as&nbsp;execution&nbsp;proceeds.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>The&nbsp;input&nbsp;text&nbsp;for&nbsp;a&nbsp;template&nbsp;is&nbsp;UTF-8-encoded&nbsp;text&nbsp;in&nbsp;any&nbsp;format.<br>
<span class="lineno"></span>&#34;Actions&#34;--data&nbsp;evaluations&nbsp;or&nbsp;control&nbsp;structures--are&nbsp;delimited&nbsp;by<br>
<span class="lineno">20</span>&#34;{{&#34;&nbsp;and&nbsp;&#34;}}&#34;;&nbsp;all&nbsp;text&nbsp;outside&nbsp;actions&nbsp;is&nbsp;copied&nbsp;to&nbsp;the&nbsp;output&nbsp;unchanged.<br>
<span class="lineno"></span>Actions&nbsp;may&nbsp;not&nbsp;span&nbsp;newlines,&nbsp;although&nbsp;comments&nbsp;can.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>Once&nbsp;parsed,&nbsp;a&nbsp;template&nbsp;may&nbsp;be&nbsp;executed&nbsp;safely&nbsp;in&nbsp;parallel.<br>
<span class="lineno"></span><br>
<span class="lineno">25</span>Here&nbsp;is&nbsp;a&nbsp;trivial&nbsp;example&nbsp;that&nbsp;prints&nbsp;&#34;17&nbsp;items&nbsp;are&nbsp;made&nbsp;of&nbsp;wool&#34;.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;type&nbsp;Inventory&nbsp;struct&nbsp;{<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Material&nbsp;string<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Count&nbsp;&nbsp;&nbsp;&nbsp;uint<br>
<span class="lineno">30</span>&nbsp;&nbsp;&nbsp;&nbsp;}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;sweaters&nbsp;:=&nbsp;Inventory{&#34;wool&#34;,&nbsp;17}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;tmpl,&nbsp;err&nbsp;:=&nbsp;template.New(&#34;test&#34;).Parse(&#34;{{.Count}}&nbsp;items&nbsp;are&nbsp;made&nbsp;of&nbsp;{{.Material}}&#34;)<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;err&nbsp;!=&nbsp;nil&nbsp;{&nbsp;panic(err)&nbsp;}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;err&nbsp;=&nbsp;tmpl.Execute(os.Stdout,&nbsp;sweaters)<br>
<span class="lineno">35</span>&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;err&nbsp;!=&nbsp;nil&nbsp;{&nbsp;panic(err)&nbsp;}<br>
<span class="lineno"></span><br>
<span class="lineno"></span>More&nbsp;intricate&nbsp;examples&nbsp;appear&nbsp;below.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>Actions<br>
<span class="lineno">40</span><br>
<span class="lineno"></span>Here&nbsp;is&nbsp;the&nbsp;list&nbsp;of&nbsp;actions.&nbsp;&#34;Arguments&#34;&nbsp;and&nbsp;&#34;pipelines&#34;&nbsp;are&nbsp;evaluations&nbsp;of<br>
<span class="lineno"></span>data,&nbsp;defined&nbsp;in&nbsp;detail&nbsp;below.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>*/</span><br>
<span class="lineno">45</span><span class="comment" id="4558711">//&nbsp;&nbsp;&nbsp;&nbsp;{{/*&nbsp;a&nbsp;comment&nbsp;*/}}</span><br>
<span class="lineno"></span><span class="comment" id="4558734">//&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;comment;&nbsp;discarded.&nbsp;May&nbsp;contain&nbsp;newlines.</span><br>
<span class="lineno"></span><span class="comment" id="4558782">//&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comments&nbsp;do&nbsp;not&nbsp;nest&nbsp;and&nbsp;must&nbsp;start&nbsp;and&nbsp;end&nbsp;at&nbsp;the</span><br>
<span class="lineno"></span><span class="comment" id="4558837">//&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;delimiters,&nbsp;as&nbsp;shown&nbsp;here.</span><br>
<span class="lineno"></span><span class="comment" id="4558868">/*<br>
<span class="lineno">50</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{pipeline}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;default&nbsp;textual&nbsp;representation&nbsp;of&nbsp;the&nbsp;value&nbsp;of&nbsp;the&nbsp;pipeline<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;is&nbsp;copied&nbsp;to&nbsp;the&nbsp;output.<br>
<span class="lineno"></span><br>
<span class="lineno">55</span>&nbsp;&nbsp;&nbsp;&nbsp;{{if&nbsp;pipeline}}&nbsp;T1&nbsp;{{end}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If&nbsp;the&nbsp;value&nbsp;of&nbsp;the&nbsp;pipeline&nbsp;is&nbsp;empty,&nbsp;no&nbsp;output&nbsp;is&nbsp;generated;<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;otherwise,&nbsp;T1&nbsp;is&nbsp;executed.&nbsp;&nbsp;The&nbsp;empty&nbsp;values&nbsp;are&nbsp;false,&nbsp;0,&nbsp;any<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;nil&nbsp;pointer&nbsp;or&nbsp;interface&nbsp;value,&nbsp;and&nbsp;any&nbsp;array,&nbsp;slice,&nbsp;map,&nbsp;or<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;string&nbsp;of&nbsp;length&nbsp;zero.<br>
<span class="lineno">60</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dot&nbsp;is&nbsp;unaffected.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{if&nbsp;pipeline}}&nbsp;T1&nbsp;{{else}}&nbsp;T0&nbsp;{{end}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If&nbsp;the&nbsp;value&nbsp;of&nbsp;the&nbsp;pipeline&nbsp;is&nbsp;empty,&nbsp;T0&nbsp;is&nbsp;executed;<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;otherwise,&nbsp;T1&nbsp;is&nbsp;executed.&nbsp;&nbsp;Dot&nbsp;is&nbsp;unaffected.<br>
<span class="lineno">65</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{if&nbsp;pipeline}}&nbsp;T1&nbsp;{{else&nbsp;if&nbsp;pipeline}}&nbsp;T0&nbsp;{{end}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To&nbsp;simplify&nbsp;the&nbsp;appearance&nbsp;of&nbsp;if-else&nbsp;chains,&nbsp;the&nbsp;else&nbsp;action<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;of&nbsp;an&nbsp;if&nbsp;may&nbsp;include&nbsp;another&nbsp;if&nbsp;directly;&nbsp;the&nbsp;effect&nbsp;is&nbsp;exactly<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the&nbsp;same&nbsp;as&nbsp;writing<br>
<span class="lineno">70</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{if&nbsp;pipeline}}&nbsp;T1&nbsp;{{else}}{{if&nbsp;pipeline}}&nbsp;T0&nbsp;{{end}}{{end}}<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{range&nbsp;pipeline}}&nbsp;T1&nbsp;{{end}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;value&nbsp;of&nbsp;the&nbsp;pipeline&nbsp;must&nbsp;be&nbsp;an&nbsp;array,&nbsp;slice,&nbsp;map,&nbsp;or&nbsp;channel.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If&nbsp;the&nbsp;value&nbsp;of&nbsp;the&nbsp;pipeline&nbsp;has&nbsp;length&nbsp;zero,&nbsp;nothing&nbsp;is&nbsp;output;<br>
<span class="lineno">75</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;otherwise,&nbsp;dot&nbsp;is&nbsp;set&nbsp;to&nbsp;the&nbsp;successive&nbsp;elements&nbsp;of&nbsp;the&nbsp;array,<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;slice,&nbsp;or&nbsp;map&nbsp;and&nbsp;T1&nbsp;is&nbsp;executed.&nbsp;If&nbsp;the&nbsp;value&nbsp;is&nbsp;a&nbsp;map&nbsp;and&nbsp;the<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;keys&nbsp;are&nbsp;of&nbsp;basic&nbsp;type&nbsp;with&nbsp;a&nbsp;defined&nbsp;order&nbsp;(&#34;comparable&#34;),&nbsp;the<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;elements&nbsp;will&nbsp;be&nbsp;visited&nbsp;in&nbsp;sorted&nbsp;key&nbsp;order.<br>
<span class="lineno"></span><br>
<span class="lineno">80</span>&nbsp;&nbsp;&nbsp;&nbsp;{{range&nbsp;pipeline}}&nbsp;T1&nbsp;{{else}}&nbsp;T0&nbsp;{{end}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;value&nbsp;of&nbsp;the&nbsp;pipeline&nbsp;must&nbsp;be&nbsp;an&nbsp;array,&nbsp;slice,&nbsp;map,&nbsp;or&nbsp;channel.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If&nbsp;the&nbsp;value&nbsp;of&nbsp;the&nbsp;pipeline&nbsp;has&nbsp;length&nbsp;zero,&nbsp;dot&nbsp;is&nbsp;unaffected&nbsp;and<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;T0&nbsp;is&nbsp;executed;&nbsp;otherwise,&nbsp;dot&nbsp;is&nbsp;set&nbsp;to&nbsp;the&nbsp;successive&nbsp;elements<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;of&nbsp;the&nbsp;array,&nbsp;slice,&nbsp;or&nbsp;map&nbsp;and&nbsp;T1&nbsp;is&nbsp;executed.<br>
<span class="lineno">85</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{template&nbsp;&#34;name&#34;}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;template&nbsp;with&nbsp;the&nbsp;specified&nbsp;name&nbsp;is&nbsp;executed&nbsp;with&nbsp;nil&nbsp;data.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{template&nbsp;&#34;name&#34;&nbsp;pipeline}}<br>
<span class="lineno">90</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;template&nbsp;with&nbsp;the&nbsp;specified&nbsp;name&nbsp;is&nbsp;executed&nbsp;with&nbsp;dot&nbsp;set<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to&nbsp;the&nbsp;value&nbsp;of&nbsp;the&nbsp;pipeline.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{with&nbsp;pipeline}}&nbsp;T1&nbsp;{{end}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If&nbsp;the&nbsp;value&nbsp;of&nbsp;the&nbsp;pipeline&nbsp;is&nbsp;empty,&nbsp;no&nbsp;output&nbsp;is&nbsp;generated;<br>
<span class="lineno">95</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;otherwise,&nbsp;dot&nbsp;is&nbsp;set&nbsp;to&nbsp;the&nbsp;value&nbsp;of&nbsp;the&nbsp;pipeline&nbsp;and&nbsp;T1&nbsp;is<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;executed.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{with&nbsp;pipeline}}&nbsp;T1&nbsp;{{else}}&nbsp;T0&nbsp;{{end}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If&nbsp;the&nbsp;value&nbsp;of&nbsp;the&nbsp;pipeline&nbsp;is&nbsp;empty,&nbsp;dot&nbsp;is&nbsp;unaffected&nbsp;and&nbsp;T0<br>
<span class="lineno">100</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;is&nbsp;executed;&nbsp;otherwise,&nbsp;dot&nbsp;is&nbsp;set&nbsp;to&nbsp;the&nbsp;value&nbsp;of&nbsp;the&nbsp;pipeline<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and&nbsp;T1&nbsp;is&nbsp;executed.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>Arguments<br>
<span class="lineno"></span><br>
<span class="lineno">105</span>An&nbsp;argument&nbsp;is&nbsp;a&nbsp;simple&nbsp;value,&nbsp;denoted&nbsp;by&nbsp;one&nbsp;of&nbsp;the&nbsp;following.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;A&nbsp;boolean,&nbsp;string,&nbsp;character,&nbsp;integer,&nbsp;floating-point,&nbsp;imaginary<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;complex&nbsp;constant&nbsp;in&nbsp;Go&nbsp;syntax.&nbsp;These&nbsp;behave&nbsp;like&nbsp;Go&#39;s&nbsp;untyped<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;constants,&nbsp;although&nbsp;raw&nbsp;strings&nbsp;may&nbsp;not&nbsp;span&nbsp;newlines.<br>
<span class="lineno">110</span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;The&nbsp;keyword&nbsp;nil,&nbsp;representing&nbsp;an&nbsp;untyped&nbsp;Go&nbsp;nil.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;The&nbsp;character&nbsp;&#39;.&#39;&nbsp;(period):<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;result&nbsp;is&nbsp;the&nbsp;value&nbsp;of&nbsp;dot.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;A&nbsp;variable&nbsp;name,&nbsp;which&nbsp;is&nbsp;a&nbsp;(possibly&nbsp;empty)&nbsp;alphanumeric&nbsp;string<br>
<span class="lineno">115</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;preceded&nbsp;by&nbsp;a&nbsp;dollar&nbsp;sign,&nbsp;such&nbsp;as<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$piOver2<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;result&nbsp;is&nbsp;the&nbsp;value&nbsp;of&nbsp;the&nbsp;variable.<br>
<span class="lineno">120</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Variables&nbsp;are&nbsp;described&nbsp;below.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;The&nbsp;name&nbsp;of&nbsp;a&nbsp;field&nbsp;of&nbsp;the&nbsp;data,&nbsp;which&nbsp;must&nbsp;be&nbsp;a&nbsp;struct,&nbsp;preceded<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by&nbsp;a&nbsp;period,&nbsp;such&nbsp;as<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.Field<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;result&nbsp;is&nbsp;the&nbsp;value&nbsp;of&nbsp;the&nbsp;field.&nbsp;Field&nbsp;invocations&nbsp;may&nbsp;be<br>
<span class="lineno">125</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;chained:<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.Field1.Field2<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fields&nbsp;can&nbsp;also&nbsp;be&nbsp;evaluated&nbsp;on&nbsp;variables,&nbsp;including&nbsp;chaining:<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$x.Field1.Field2<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;The&nbsp;name&nbsp;of&nbsp;a&nbsp;key&nbsp;of&nbsp;the&nbsp;data,&nbsp;which&nbsp;must&nbsp;be&nbsp;a&nbsp;map,&nbsp;preceded<br>
<span class="lineno">130</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by&nbsp;a&nbsp;period,&nbsp;such&nbsp;as<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.Key<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;result&nbsp;is&nbsp;the&nbsp;map&nbsp;element&nbsp;value&nbsp;indexed&nbsp;by&nbsp;the&nbsp;key.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Key&nbsp;invocations&nbsp;may&nbsp;be&nbsp;chained&nbsp;and&nbsp;combined&nbsp;with&nbsp;fields&nbsp;to&nbsp;any<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;depth:<br>
<span class="lineno">135</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.Field1.Key1.Field2.Key2<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Although&nbsp;the&nbsp;key&nbsp;must&nbsp;be&nbsp;an&nbsp;alphanumeric&nbsp;identifier,&nbsp;unlike&nbsp;with<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;field&nbsp;names&nbsp;they&nbsp;do&nbsp;not&nbsp;need&nbsp;to&nbsp;start&nbsp;with&nbsp;an&nbsp;upper&nbsp;case&nbsp;letter.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Keys&nbsp;can&nbsp;also&nbsp;be&nbsp;evaluated&nbsp;on&nbsp;variables,&nbsp;including&nbsp;chaining:<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$x.key1.key2<br>
<span class="lineno">140</span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;The&nbsp;name&nbsp;of&nbsp;a&nbsp;niladic&nbsp;method&nbsp;of&nbsp;the&nbsp;data,&nbsp;preceded&nbsp;by&nbsp;a&nbsp;period,<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;such&nbsp;as<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.Method<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;result&nbsp;is&nbsp;the&nbsp;value&nbsp;of&nbsp;invoking&nbsp;the&nbsp;method&nbsp;with&nbsp;dot&nbsp;as&nbsp;the<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;receiver,&nbsp;dot.Method().&nbsp;Such&nbsp;a&nbsp;method&nbsp;must&nbsp;have&nbsp;one&nbsp;return&nbsp;value&nbsp;(of<br>
<span class="lineno">145</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;any&nbsp;type)&nbsp;or&nbsp;two&nbsp;return&nbsp;values,&nbsp;the&nbsp;second&nbsp;of&nbsp;which&nbsp;is&nbsp;an&nbsp;error.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If&nbsp;it&nbsp;has&nbsp;two&nbsp;and&nbsp;the&nbsp;returned&nbsp;error&nbsp;is&nbsp;non-nil,&nbsp;execution&nbsp;terminates<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and&nbsp;an&nbsp;error&nbsp;is&nbsp;returned&nbsp;to&nbsp;the&nbsp;caller&nbsp;as&nbsp;the&nbsp;value&nbsp;of&nbsp;Execute.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Method&nbsp;invocations&nbsp;may&nbsp;be&nbsp;chained&nbsp;and&nbsp;combined&nbsp;with&nbsp;fields&nbsp;and&nbsp;keys<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to&nbsp;any&nbsp;depth:<br>
<span class="lineno">150</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.Field1.Key1.Method1.Field2.Key2.Method2<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Methods&nbsp;can&nbsp;also&nbsp;be&nbsp;evaluated&nbsp;on&nbsp;variables,&nbsp;including&nbsp;chaining:<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$x.Method1.Field<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;The&nbsp;name&nbsp;of&nbsp;a&nbsp;niladic&nbsp;function,&nbsp;such&nbsp;as<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fun<br>
<span class="lineno">155</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;result&nbsp;is&nbsp;the&nbsp;value&nbsp;of&nbsp;invoking&nbsp;the&nbsp;function,&nbsp;fun().&nbsp;The&nbsp;return<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;types&nbsp;and&nbsp;values&nbsp;behave&nbsp;as&nbsp;in&nbsp;methods.&nbsp;Functions&nbsp;and&nbsp;function<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;names&nbsp;are&nbsp;described&nbsp;below.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;A&nbsp;parenthesized&nbsp;instance&nbsp;of&nbsp;one&nbsp;the&nbsp;above,&nbsp;for&nbsp;grouping.&nbsp;The&nbsp;result<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;may&nbsp;be&nbsp;accessed&nbsp;by&nbsp;a&nbsp;field&nbsp;or&nbsp;map&nbsp;key&nbsp;invocation.<br>
<span class="lineno">160</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print&nbsp;(.F1&nbsp;arg1)&nbsp;(.F2&nbsp;arg2)<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(.StructValuedMethod&nbsp;&#34;arg&#34;).Field<br>
<span class="lineno"></span><br>
<span class="lineno"></span>Arguments&nbsp;may&nbsp;evaluate&nbsp;to&nbsp;any&nbsp;type;&nbsp;if&nbsp;they&nbsp;are&nbsp;pointers&nbsp;the&nbsp;implementation<br>
<span class="lineno"></span>automatically&nbsp;indirects&nbsp;to&nbsp;the&nbsp;base&nbsp;type&nbsp;when&nbsp;required.<br>
<span class="lineno">165</span>If&nbsp;an&nbsp;evaluation&nbsp;yields&nbsp;a&nbsp;function&nbsp;value,&nbsp;such&nbsp;as&nbsp;a&nbsp;function-valued<br>
<span class="lineno"></span>field&nbsp;of&nbsp;a&nbsp;struct,&nbsp;the&nbsp;function&nbsp;is&nbsp;not&nbsp;invoked&nbsp;automatically,&nbsp;but&nbsp;it<br>
<span class="lineno"></span>can&nbsp;be&nbsp;used&nbsp;as&nbsp;a&nbsp;truth&nbsp;value&nbsp;for&nbsp;an&nbsp;if&nbsp;action&nbsp;and&nbsp;the&nbsp;like.&nbsp;To&nbsp;invoke<br>
<span class="lineno"></span>it,&nbsp;use&nbsp;the&nbsp;call&nbsp;function,&nbsp;defined&nbsp;below.<br>
<span class="lineno"></span><br>
<span class="lineno">170</span>A&nbsp;pipeline&nbsp;is&nbsp;a&nbsp;possibly&nbsp;chained&nbsp;sequence&nbsp;of&nbsp;&#34;commands&#34;.&nbsp;A&nbsp;command&nbsp;is&nbsp;a&nbsp;simple<br>
<span class="lineno"></span>value&nbsp;(argument)&nbsp;or&nbsp;a&nbsp;function&nbsp;or&nbsp;method&nbsp;call,&nbsp;possibly&nbsp;with&nbsp;multiple&nbsp;arguments:<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;Argument<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;result&nbsp;is&nbsp;the&nbsp;value&nbsp;of&nbsp;evaluating&nbsp;the&nbsp;argument.<br>
<span class="lineno">175</span>&nbsp;&nbsp;&nbsp;&nbsp;.Method&nbsp;[Argument...]<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;method&nbsp;can&nbsp;be&nbsp;alone&nbsp;or&nbsp;the&nbsp;last&nbsp;element&nbsp;of&nbsp;a&nbsp;chain&nbsp;but,<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;unlike&nbsp;methods&nbsp;in&nbsp;the&nbsp;middle&nbsp;of&nbsp;a&nbsp;chain,&nbsp;it&nbsp;can&nbsp;take&nbsp;arguments.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;result&nbsp;is&nbsp;the&nbsp;value&nbsp;of&nbsp;calling&nbsp;the&nbsp;method&nbsp;with&nbsp;the<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;arguments:<br>
<span class="lineno">180</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dot.Method(Argument1,&nbsp;etc.)<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;functionName&nbsp;[Argument...]<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;result&nbsp;is&nbsp;the&nbsp;value&nbsp;of&nbsp;calling&nbsp;the&nbsp;function&nbsp;associated<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;with&nbsp;the&nbsp;name:<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;function(Argument1,&nbsp;etc.)<br>
<span class="lineno">185</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Functions&nbsp;and&nbsp;function&nbsp;names&nbsp;are&nbsp;described&nbsp;below.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>Pipelines<br>
<span class="lineno"></span><br>
<span class="lineno"></span>A&nbsp;pipeline&nbsp;may&nbsp;be&nbsp;&#34;chained&#34;&nbsp;by&nbsp;separating&nbsp;a&nbsp;sequence&nbsp;of&nbsp;commands&nbsp;with&nbsp;pipeline<br>
<span class="lineno">190</span>characters&nbsp;&#39;|&#39;.&nbsp;In&nbsp;a&nbsp;chained&nbsp;pipeline,&nbsp;the&nbsp;result&nbsp;of&nbsp;the&nbsp;each&nbsp;command&nbsp;is<br>
<span class="lineno"></span>passed&nbsp;as&nbsp;the&nbsp;last&nbsp;argument&nbsp;of&nbsp;the&nbsp;following&nbsp;command.&nbsp;The&nbsp;output&nbsp;of&nbsp;the&nbsp;final<br>
<span class="lineno"></span>command&nbsp;in&nbsp;the&nbsp;pipeline&nbsp;is&nbsp;the&nbsp;value&nbsp;of&nbsp;the&nbsp;pipeline.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>The&nbsp;output&nbsp;of&nbsp;a&nbsp;command&nbsp;will&nbsp;be&nbsp;either&nbsp;one&nbsp;value&nbsp;or&nbsp;two&nbsp;values,&nbsp;the&nbsp;second&nbsp;of<br>
<span class="lineno">195</span>which&nbsp;has&nbsp;type&nbsp;error.&nbsp;If&nbsp;that&nbsp;second&nbsp;value&nbsp;is&nbsp;present&nbsp;and&nbsp;evaluates&nbsp;to<br>
<span class="lineno"></span>non-nil,&nbsp;execution&nbsp;terminates&nbsp;and&nbsp;the&nbsp;error&nbsp;is&nbsp;returned&nbsp;to&nbsp;the&nbsp;caller&nbsp;of<br>
<span class="lineno"></span>Execute.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>Variables<br>
<span class="lineno">200</span><br>
<span class="lineno"></span>A&nbsp;pipeline&nbsp;inside&nbsp;an&nbsp;action&nbsp;may&nbsp;initialize&nbsp;a&nbsp;variable&nbsp;to&nbsp;capture&nbsp;the&nbsp;result.<br>
<span class="lineno"></span>The&nbsp;initialization&nbsp;has&nbsp;syntax<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;$variable&nbsp;:=&nbsp;pipeline<br>
<span class="lineno">205</span><br>
<span class="lineno"></span>where&nbsp;$variable&nbsp;is&nbsp;the&nbsp;name&nbsp;of&nbsp;the&nbsp;variable.&nbsp;An&nbsp;action&nbsp;that&nbsp;declares&nbsp;a<br>
<span class="lineno"></span>variable&nbsp;produces&nbsp;no&nbsp;output.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>If&nbsp;a&nbsp;&#34;range&#34;&nbsp;action&nbsp;initializes&nbsp;a&nbsp;variable,&nbsp;the&nbsp;variable&nbsp;is&nbsp;set&nbsp;to&nbsp;the<br>
<span class="lineno">210</span>successive&nbsp;elements&nbsp;of&nbsp;the&nbsp;iteration.&nbsp;&nbsp;Also,&nbsp;a&nbsp;&#34;range&#34;&nbsp;may&nbsp;declare&nbsp;two<br>
<span class="lineno"></span>variables,&nbsp;separated&nbsp;by&nbsp;a&nbsp;comma:<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;range&nbsp;$index,&nbsp;$element&nbsp;:=&nbsp;pipeline<br>
<span class="lineno"></span><br>
<span class="lineno">215</span>in&nbsp;which&nbsp;case&nbsp;$index&nbsp;and&nbsp;$element&nbsp;are&nbsp;set&nbsp;to&nbsp;the&nbsp;successive&nbsp;values&nbsp;of&nbsp;the<br>
<span class="lineno"></span>array/slice&nbsp;index&nbsp;or&nbsp;map&nbsp;key&nbsp;and&nbsp;element,&nbsp;respectively.&nbsp;&nbsp;Note&nbsp;that&nbsp;if&nbsp;there&nbsp;is<br>
<span class="lineno"></span>only&nbsp;one&nbsp;variable,&nbsp;it&nbsp;is&nbsp;assigned&nbsp;the&nbsp;element;&nbsp;this&nbsp;is&nbsp;opposite&nbsp;to&nbsp;the<br>
<span class="lineno"></span>convention&nbsp;in&nbsp;Go&nbsp;range&nbsp;clauses.<br>
<span class="lineno"></span><br>
<span class="lineno">220</span>A&nbsp;variable&#39;s&nbsp;scope&nbsp;extends&nbsp;to&nbsp;the&nbsp;&#34;end&#34;&nbsp;action&nbsp;of&nbsp;the&nbsp;control&nbsp;structure&nbsp;(&#34;if&#34;,<br>
<span class="lineno"></span>&#34;with&#34;,&nbsp;or&nbsp;&#34;range&#34;)&nbsp;in&nbsp;which&nbsp;it&nbsp;is&nbsp;declared,&nbsp;or&nbsp;to&nbsp;the&nbsp;end&nbsp;of&nbsp;the&nbsp;template&nbsp;if<br>
<span class="lineno"></span>there&nbsp;is&nbsp;no&nbsp;such&nbsp;control&nbsp;structure.&nbsp;&nbsp;A&nbsp;template&nbsp;invocation&nbsp;does&nbsp;not&nbsp;inherit<br>
<span class="lineno"></span>variables&nbsp;from&nbsp;the&nbsp;point&nbsp;of&nbsp;its&nbsp;invocation.<br>
<span class="lineno"></span><br>
<span class="lineno">225</span>When&nbsp;execution&nbsp;begins,&nbsp;$&nbsp;is&nbsp;set&nbsp;to&nbsp;the&nbsp;data&nbsp;argument&nbsp;passed&nbsp;to&nbsp;Execute,&nbsp;that&nbsp;is,<br>
<span class="lineno"></span>to&nbsp;the&nbsp;starting&nbsp;value&nbsp;of&nbsp;dot.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>Examples<br>
<span class="lineno"></span><br>
<span class="lineno">230</span>Here&nbsp;are&nbsp;some&nbsp;example&nbsp;one-line&nbsp;templates&nbsp;demonstrating&nbsp;pipelines&nbsp;and&nbsp;variables.<br>
<span class="lineno"></span>All&nbsp;produce&nbsp;the&nbsp;quoted&nbsp;word&nbsp;&#34;output&#34;:<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{&#34;\&#34;output\&#34;&#34;}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;string&nbsp;constant.<br>
<span class="lineno">235</span>&nbsp;&nbsp;&nbsp;&nbsp;{{`&#34;output&#34;`}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;raw&nbsp;string&nbsp;constant.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{printf&nbsp;&#34;%q&#34;&nbsp;&#34;output&#34;}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;function&nbsp;call.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{&#34;output&#34;&nbsp;|&nbsp;printf&nbsp;&#34;%q&#34;}}<br>
<span class="lineno">240</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;function&nbsp;call&nbsp;whose&nbsp;final&nbsp;argument&nbsp;comes&nbsp;from&nbsp;the&nbsp;previous<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;command.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{printf&nbsp;&#34;%q&#34;&nbsp;(print&nbsp;&#34;out&#34;&nbsp;&#34;put&#34;)}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;parenthesized&nbsp;argument.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{&#34;put&#34;&nbsp;|&nbsp;printf&nbsp;&#34;%s%s&#34;&nbsp;&#34;out&#34;&nbsp;|&nbsp;printf&nbsp;&#34;%q&#34;}}<br>
<span class="lineno">245</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;more&nbsp;elaborate&nbsp;call.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{&#34;output&#34;&nbsp;|&nbsp;printf&nbsp;&#34;%s&#34;&nbsp;|&nbsp;printf&nbsp;&#34;%q&#34;}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;longer&nbsp;chain.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{with&nbsp;&#34;output&#34;}}{{printf&nbsp;&#34;%q&#34;&nbsp;.}}{{end}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;with&nbsp;action&nbsp;using&nbsp;dot.<br>
<span class="lineno">250</span>&nbsp;&nbsp;&nbsp;&nbsp;{{with&nbsp;$x&nbsp;:=&nbsp;&#34;output&#34;&nbsp;|&nbsp;printf&nbsp;&#34;%q&#34;}}{{$x}}{{end}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;with&nbsp;action&nbsp;that&nbsp;creates&nbsp;and&nbsp;uses&nbsp;a&nbsp;variable.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{with&nbsp;$x&nbsp;:=&nbsp;&#34;output&#34;}}{{printf&nbsp;&#34;%q&#34;&nbsp;$x}}{{end}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A&nbsp;with&nbsp;action&nbsp;that&nbsp;uses&nbsp;the&nbsp;variable&nbsp;in&nbsp;another&nbsp;action.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{with&nbsp;$x&nbsp;:=&nbsp;&#34;output&#34;}}{{$x&nbsp;|&nbsp;printf&nbsp;&#34;%q&#34;}}{{end}}<br>
<span class="lineno">255</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;same,&nbsp;but&nbsp;pipelined.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>Functions<br>
<span class="lineno"></span><br>
<span class="lineno"></span>During&nbsp;execution&nbsp;functions&nbsp;are&nbsp;found&nbsp;in&nbsp;two&nbsp;function&nbsp;maps:&nbsp;first&nbsp;in&nbsp;the<br>
<span class="lineno">260</span>template,&nbsp;then&nbsp;in&nbsp;the&nbsp;global&nbsp;function&nbsp;map.&nbsp;By&nbsp;default,&nbsp;no&nbsp;functions&nbsp;are&nbsp;defined<br>
<span class="lineno"></span>in&nbsp;the&nbsp;template&nbsp;but&nbsp;the&nbsp;Funcs&nbsp;method&nbsp;can&nbsp;be&nbsp;used&nbsp;to&nbsp;add&nbsp;them.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>Predefined&nbsp;global&nbsp;functions&nbsp;are&nbsp;named&nbsp;as&nbsp;follows.<br>
<span class="lineno"></span><br>
<span class="lineno">265</span>&nbsp;&nbsp;&nbsp;&nbsp;and<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returns&nbsp;the&nbsp;boolean&nbsp;AND&nbsp;of&nbsp;its&nbsp;arguments&nbsp;by&nbsp;returning&nbsp;the<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;first&nbsp;empty&nbsp;argument&nbsp;or&nbsp;the&nbsp;last&nbsp;argument,&nbsp;that&nbsp;is,<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#34;and&nbsp;x&nbsp;y&#34;&nbsp;behaves&nbsp;as&nbsp;&#34;if&nbsp;x&nbsp;then&nbsp;y&nbsp;else&nbsp;x&#34;.&nbsp;All&nbsp;the<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;arguments&nbsp;are&nbsp;evaluated.<br>
<span class="lineno">270</span>&nbsp;&nbsp;&nbsp;&nbsp;call<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returns&nbsp;the&nbsp;result&nbsp;of&nbsp;calling&nbsp;the&nbsp;first&nbsp;argument,&nbsp;which<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;must&nbsp;be&nbsp;a&nbsp;function,&nbsp;with&nbsp;the&nbsp;remaining&nbsp;arguments&nbsp;as&nbsp;parameters.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thus&nbsp;&#34;call&nbsp;.X.Y&nbsp;1&nbsp;2&#34;&nbsp;is,&nbsp;in&nbsp;Go&nbsp;notation,&nbsp;dot.X.Y(1,&nbsp;2)&nbsp;where<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y&nbsp;is&nbsp;a&nbsp;func-valued&nbsp;field,&nbsp;map&nbsp;entry,&nbsp;or&nbsp;the&nbsp;like.<br>
<span class="lineno">275</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The&nbsp;first&nbsp;argument&nbsp;must&nbsp;be&nbsp;the&nbsp;result&nbsp;of&nbsp;an&nbsp;evaluation<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;that&nbsp;yields&nbsp;a&nbsp;value&nbsp;of&nbsp;function&nbsp;type&nbsp;(as&nbsp;distinct&nbsp;from<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a&nbsp;predefined&nbsp;function&nbsp;such&nbsp;as&nbsp;print).&nbsp;The&nbsp;function&nbsp;must<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;either&nbsp;one&nbsp;or&nbsp;two&nbsp;result&nbsp;values,&nbsp;the&nbsp;second&nbsp;of&nbsp;which<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;is&nbsp;of&nbsp;type&nbsp;error.&nbsp;If&nbsp;the&nbsp;arguments&nbsp;don&#39;t&nbsp;match&nbsp;the&nbsp;function<br>
<span class="lineno">280</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;the&nbsp;returned&nbsp;error&nbsp;value&nbsp;is&nbsp;non-nil,&nbsp;execution&nbsp;stops.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;html<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returns&nbsp;the&nbsp;escaped&nbsp;HTML&nbsp;equivalent&nbsp;of&nbsp;the&nbsp;textual<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;representation&nbsp;of&nbsp;its&nbsp;arguments.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;index<br>
<span class="lineno">285</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returns&nbsp;the&nbsp;result&nbsp;of&nbsp;indexing&nbsp;its&nbsp;first&nbsp;argument&nbsp;by&nbsp;the<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;following&nbsp;arguments.&nbsp;Thus&nbsp;&#34;index&nbsp;x&nbsp;1&nbsp;2&nbsp;3&#34;&nbsp;is,&nbsp;in&nbsp;Go&nbsp;syntax,<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x[1][2][3].&nbsp;Each&nbsp;indexed&nbsp;item&nbsp;must&nbsp;be&nbsp;a&nbsp;map,&nbsp;slice,&nbsp;or&nbsp;array.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;js<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returns&nbsp;the&nbsp;escaped&nbsp;JavaScript&nbsp;equivalent&nbsp;of&nbsp;the&nbsp;textual<br>
<span class="lineno">290</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;representation&nbsp;of&nbsp;its&nbsp;arguments.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;len<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returns&nbsp;the&nbsp;integer&nbsp;length&nbsp;of&nbsp;its&nbsp;argument.<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;not<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returns&nbsp;the&nbsp;boolean&nbsp;negation&nbsp;of&nbsp;its&nbsp;single&nbsp;argument.<br>
<span class="lineno">295</span>&nbsp;&nbsp;&nbsp;&nbsp;or<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returns&nbsp;the&nbsp;boolean&nbsp;OR&nbsp;of&nbsp;its&nbsp;arguments&nbsp;by&nbsp;returning&nbsp;the<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;first&nbsp;non-empty&nbsp;argument&nbsp;or&nbsp;the&nbsp;last&nbsp;argument,&nbsp;that&nbsp;is,<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#34;or&nbsp;x&nbsp;y&#34;&nbsp;behaves&nbsp;as&nbsp;&#34;if&nbsp;x&nbsp;then&nbsp;x&nbsp;else&nbsp;y&#34;.&nbsp;All&nbsp;the<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;arguments&nbsp;are&nbsp;evaluated.<br>
<span class="lineno">300</span>&nbsp;&nbsp;&nbsp;&nbsp;print<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An&nbsp;alias&nbsp;for&nbsp;fmt.Sprint<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;printf<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An&nbsp;alias&nbsp;for&nbsp;fmt.Sprintf<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;println<br>
<span class="lineno">305</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An&nbsp;alias&nbsp;for&nbsp;fmt.Sprintln<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;urlquery<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returns&nbsp;the&nbsp;escaped&nbsp;value&nbsp;of&nbsp;the&nbsp;textual&nbsp;representation&nbsp;of<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;its&nbsp;arguments&nbsp;in&nbsp;a&nbsp;form&nbsp;suitable&nbsp;for&nbsp;embedding&nbsp;in&nbsp;a&nbsp;URL&nbsp;query.<br>
<span class="lineno"></span><br>
<span class="lineno">310</span>The&nbsp;boolean&nbsp;functions&nbsp;take&nbsp;any&nbsp;zero&nbsp;value&nbsp;to&nbsp;be&nbsp;false&nbsp;and&nbsp;a&nbsp;non-zero<br>
<span class="lineno"></span>value&nbsp;to&nbsp;be&nbsp;true.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>There&nbsp;is&nbsp;also&nbsp;a&nbsp;set&nbsp;of&nbsp;binary&nbsp;comparison&nbsp;operators&nbsp;defined&nbsp;as<br>
<span class="lineno"></span>functions:<br>
<span class="lineno">315</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;eq<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returns&nbsp;the&nbsp;boolean&nbsp;truth&nbsp;of&nbsp;arg1&nbsp;==&nbsp;arg2<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;ne<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returns&nbsp;the&nbsp;boolean&nbsp;truth&nbsp;of&nbsp;arg1&nbsp;!=&nbsp;arg2<br>
<span class="lineno">320</span>&nbsp;&nbsp;&nbsp;&nbsp;lt<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returns&nbsp;the&nbsp;boolean&nbsp;truth&nbsp;of&nbsp;arg1&nbsp;&lt;&nbsp;arg2<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;le<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returns&nbsp;the&nbsp;boolean&nbsp;truth&nbsp;of&nbsp;arg1&nbsp;&lt;=&nbsp;arg2<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;gt<br>
<span class="lineno">325</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returns&nbsp;the&nbsp;boolean&nbsp;truth&nbsp;of&nbsp;arg1&nbsp;&gt;&nbsp;arg2<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;ge<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Returns&nbsp;the&nbsp;boolean&nbsp;truth&nbsp;of&nbsp;arg1&nbsp;&gt;=&nbsp;arg2<br>
<span class="lineno"></span><br>
<span class="lineno"></span>For&nbsp;simpler&nbsp;multi-way&nbsp;equality&nbsp;tests,&nbsp;eq&nbsp;(only)&nbsp;accepts&nbsp;two&nbsp;or&nbsp;more<br>
<span class="lineno">330</span>arguments&nbsp;and&nbsp;compares&nbsp;the&nbsp;second&nbsp;and&nbsp;subsequent&nbsp;to&nbsp;the&nbsp;first,<br>
<span class="lineno"></span>returning&nbsp;in&nbsp;effect<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;arg1==arg2&nbsp;||&nbsp;arg1==arg3&nbsp;||&nbsp;arg1==arg4&nbsp;...<br>
<span class="lineno"></span><br>
<span class="lineno">335</span>(Unlike&nbsp;with&nbsp;||&nbsp;in&nbsp;Go,&nbsp;however,&nbsp;eq&nbsp;is&nbsp;a&nbsp;function&nbsp;call&nbsp;and&nbsp;all&nbsp;the<br>
<span class="lineno"></span>arguments&nbsp;will&nbsp;be&nbsp;evaluated.)<br>
<span class="lineno"></span><br>
<span class="lineno"></span>The&nbsp;comparison&nbsp;functions&nbsp;work&nbsp;on&nbsp;basic&nbsp;types&nbsp;only&nbsp;(or&nbsp;named&nbsp;basic<br>
<span class="lineno"></span>types,&nbsp;such&nbsp;as&nbsp;&#34;type&nbsp;Celsius&nbsp;float32&#34;).&nbsp;They&nbsp;implement&nbsp;the&nbsp;Go&nbsp;rules<br>
<span class="lineno">340</span>for&nbsp;comparison&nbsp;of&nbsp;values,&nbsp;except&nbsp;that&nbsp;size&nbsp;and&nbsp;exact&nbsp;type&nbsp;are<br>
<span class="lineno"></span>ignored,&nbsp;so&nbsp;any&nbsp;integer&nbsp;value,&nbsp;signed&nbsp;or&nbsp;unsigned,&nbsp;may&nbsp;be&nbsp;compared<br>
<span class="lineno"></span>with&nbsp;any&nbsp;other&nbsp;integer&nbsp;value.&nbsp;(The&nbsp;arithmetic&nbsp;value&nbsp;is&nbsp;compared,<br>
<span class="lineno"></span>not&nbsp;the&nbsp;bit&nbsp;pattern,&nbsp;so&nbsp;all&nbsp;negative&nbsp;integers&nbsp;are&nbsp;less&nbsp;than&nbsp;all<br>
<span class="lineno"></span>unsigned&nbsp;integers.)&nbsp;However,&nbsp;as&nbsp;usual,&nbsp;one&nbsp;may&nbsp;not&nbsp;compare&nbsp;an&nbsp;int<br>
<span class="lineno">345</span>with&nbsp;a&nbsp;float32&nbsp;and&nbsp;so&nbsp;on.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>Associated&nbsp;templates<br>
<span class="lineno"></span><br>
<span class="lineno"></span>Each&nbsp;template&nbsp;is&nbsp;named&nbsp;by&nbsp;a&nbsp;string&nbsp;specified&nbsp;when&nbsp;it&nbsp;is&nbsp;created.&nbsp;Also,&nbsp;each<br>
<span class="lineno">350</span>template&nbsp;is&nbsp;associated&nbsp;with&nbsp;zero&nbsp;or&nbsp;more&nbsp;other&nbsp;templates&nbsp;that&nbsp;it&nbsp;may&nbsp;invoke&nbsp;by<br>
<span class="lineno"></span>name;&nbsp;such&nbsp;associations&nbsp;are&nbsp;transitive&nbsp;and&nbsp;form&nbsp;a&nbsp;name&nbsp;space&nbsp;of&nbsp;templates.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>A&nbsp;template&nbsp;may&nbsp;use&nbsp;a&nbsp;template&nbsp;invocation&nbsp;to&nbsp;instantiate&nbsp;another&nbsp;associated<br>
<span class="lineno"></span>template;&nbsp;see&nbsp;the&nbsp;explanation&nbsp;of&nbsp;the&nbsp;&#34;template&#34;&nbsp;action&nbsp;above.&nbsp;The&nbsp;name&nbsp;must&nbsp;be<br>
<span class="lineno">355</span>that&nbsp;of&nbsp;a&nbsp;template&nbsp;associated&nbsp;with&nbsp;the&nbsp;template&nbsp;that&nbsp;contains&nbsp;the&nbsp;invocation.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>Nested&nbsp;template&nbsp;definitions<br>
<span class="lineno"></span><br>
<span class="lineno"></span>When&nbsp;parsing&nbsp;a&nbsp;template,&nbsp;another&nbsp;template&nbsp;may&nbsp;be&nbsp;defined&nbsp;and&nbsp;associated&nbsp;with&nbsp;the<br>
<span class="lineno">360</span>template&nbsp;being&nbsp;parsed.&nbsp;Template&nbsp;definitions&nbsp;must&nbsp;appear&nbsp;at&nbsp;the&nbsp;top&nbsp;level&nbsp;of&nbsp;the<br>
<span class="lineno"></span>template,&nbsp;much&nbsp;like&nbsp;global&nbsp;variables&nbsp;in&nbsp;a&nbsp;Go&nbsp;program.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>The&nbsp;syntax&nbsp;of&nbsp;such&nbsp;definitions&nbsp;is&nbsp;to&nbsp;surround&nbsp;each&nbsp;template&nbsp;declaration&nbsp;with&nbsp;a<br>
<span class="lineno"></span>&#34;define&#34;&nbsp;and&nbsp;&#34;end&#34;&nbsp;action.<br>
<span class="lineno">365</span><br>
<span class="lineno"></span>The&nbsp;define&nbsp;action&nbsp;names&nbsp;the&nbsp;template&nbsp;being&nbsp;created&nbsp;by&nbsp;providing&nbsp;a&nbsp;string<br>
<span class="lineno"></span>constant.&nbsp;Here&nbsp;is&nbsp;a&nbsp;simple&nbsp;example:<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;`{{define&nbsp;&#34;T1&#34;}}ONE{{end}}<br>
<span class="lineno">370</span>&nbsp;&nbsp;&nbsp;&nbsp;{{define&nbsp;&#34;T2&#34;}}TWO{{end}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{define&nbsp;&#34;T3&#34;}}{{template&nbsp;&#34;T1&#34;}}&nbsp;{{template&nbsp;&#34;T2&#34;}}{{end}}<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;{{template&nbsp;&#34;T3&#34;}}`<br>
<span class="lineno"></span><br>
<span class="lineno"></span>This&nbsp;defines&nbsp;two&nbsp;templates,&nbsp;T1&nbsp;and&nbsp;T2,&nbsp;and&nbsp;a&nbsp;third&nbsp;T3&nbsp;that&nbsp;invokes&nbsp;the&nbsp;other&nbsp;two<br>
<span class="lineno">375</span>when&nbsp;it&nbsp;is&nbsp;executed.&nbsp;Finally&nbsp;it&nbsp;invokes&nbsp;T3.&nbsp;If&nbsp;executed&nbsp;this&nbsp;template&nbsp;will<br>
<span class="lineno"></span>produce&nbsp;the&nbsp;text<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;ONE&nbsp;TWO<br>
<span class="lineno"></span><br>
<span class="lineno">380</span>By&nbsp;construction,&nbsp;a&nbsp;template&nbsp;may&nbsp;reside&nbsp;in&nbsp;only&nbsp;one&nbsp;association.&nbsp;If&nbsp;it&#39;s<br>
<span class="lineno"></span>necessary&nbsp;to&nbsp;have&nbsp;a&nbsp;template&nbsp;addressable&nbsp;from&nbsp;multiple&nbsp;associations,&nbsp;the<br>
<span class="lineno"></span>template&nbsp;definition&nbsp;must&nbsp;be&nbsp;parsed&nbsp;multiple&nbsp;times&nbsp;to&nbsp;create&nbsp;distinct&nbsp;*Template<br>
<span class="lineno"></span>values,&nbsp;or&nbsp;must&nbsp;be&nbsp;copied&nbsp;with&nbsp;the&nbsp;Clone&nbsp;or&nbsp;AddParseTree&nbsp;method.<br>
<span class="lineno"></span><br>
<span class="lineno">385</span>Parse&nbsp;may&nbsp;be&nbsp;called&nbsp;multiple&nbsp;times&nbsp;to&nbsp;assemble&nbsp;the&nbsp;various&nbsp;associated&nbsp;templates;<br>
<span class="lineno"></span>see&nbsp;the&nbsp;ParseFiles&nbsp;and&nbsp;ParseGlob&nbsp;functions&nbsp;and&nbsp;methods&nbsp;for&nbsp;simple&nbsp;ways&nbsp;to&nbsp;parse<br>
<span class="lineno"></span>related&nbsp;templates&nbsp;stored&nbsp;in&nbsp;files.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>A&nbsp;template&nbsp;may&nbsp;be&nbsp;executed&nbsp;directly&nbsp;or&nbsp;through&nbsp;ExecuteTemplate,&nbsp;which&nbsp;executes<br>
<span class="lineno">390</span>an&nbsp;associated&nbsp;template&nbsp;identified&nbsp;by&nbsp;name.&nbsp;To&nbsp;invoke&nbsp;our&nbsp;example&nbsp;above,&nbsp;we<br>
<span class="lineno"></span>might&nbsp;write,<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;err&nbsp;:=&nbsp;tmpl.Execute(os.Stdout,&nbsp;&#34;no&nbsp;data&nbsp;needed&#34;)<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;err&nbsp;!=&nbsp;nil&nbsp;{<br>
<span class="lineno">395</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;log.Fatalf(&#34;execution&nbsp;failed:&nbsp;%s&#34;,&nbsp;err)<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;}<br>
<span class="lineno"></span><br>
<span class="lineno"></span>or&nbsp;to&nbsp;invoke&nbsp;a&nbsp;particular&nbsp;template&nbsp;explicitly&nbsp;by&nbsp;name,<br>
<span class="lineno"></span><br>
<span class="lineno">400</span>&nbsp;&nbsp;&nbsp;&nbsp;err&nbsp;:=&nbsp;tmpl.ExecuteTemplate(os.Stdout,&nbsp;&#34;T2&#34;,&nbsp;&#34;no&nbsp;data&nbsp;needed&#34;)<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;err&nbsp;!=&nbsp;nil&nbsp;{<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;log.Fatalf(&#34;execution&nbsp;failed:&nbsp;%s&#34;,&nbsp;err)<br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp;}<br>
<span class="lineno"></span><br>
<span class="lineno">405</span>*/</span><br>
<span class="lineno"></span><span class="keyword" id="4572443">package</span>&nbsp;<span class="ident" id="4572451">template</span>
</div>
</body>
</html>
