<!doctype html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Go standard library</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<div class="code">
<span class="lineno">1</span><span class="comment" id="1221016">//&nbsp;Copyright&nbsp;2012&nbsp;The&nbsp;Go&nbsp;Authors.&nbsp;All&nbsp;rights&nbsp;reserved.</span><br>
<span class="lineno"></span><span class="comment" id="1221071">//&nbsp;Use&nbsp;of&nbsp;this&nbsp;source&nbsp;code&nbsp;is&nbsp;governed&nbsp;by&nbsp;a&nbsp;BSD-style</span><br>
<span class="lineno"></span><span class="comment" id="1221125">//&nbsp;license&nbsp;that&nbsp;can&nbsp;be&nbsp;found&nbsp;in&nbsp;the&nbsp;LICENSE&nbsp;file.</span><br>
<span class="lineno"></span><br>
<span class="lineno">5</span><span class="keyword" id="1221176">package</span>&nbsp;<span class="ident" id="1221184">template_test</span><br>
<span class="lineno"></span><br>
<span class="lineno"></span><span class="keyword" id="1221199">import</span>&nbsp;<span class="op" id="1221206">(</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="string" id="1221209">&#34;log&#34;</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="string" id="1221216">&#34;os&#34;</span><br>
<span class="lineno">10</span>&nbsp;&nbsp;&nbsp;&nbsp<span class="string" id="1221222">&#34;strings&#34;</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="string" id="1221233">&#34;text/template&#34;</span><br>
<span class="lineno"></span><span class="op" id="1221249">)</span><br>
<span class="lineno"></span><br>
<span class="lineno"></span><span class="comment" id="1221252">//&nbsp;This&nbsp;example&nbsp;demonstrates&nbsp;a&nbsp;custom&nbsp;function&nbsp;to&nbsp;process&nbsp;template&nbsp;text.</span><br>
<span class="lineno">15</span><span class="comment" id="1221325">//&nbsp;It&nbsp;installs&nbsp;the&nbsp;strings.Title&nbsp;function&nbsp;and&nbsp;uses&nbsp;it&nbsp;to</span><br>
<span class="lineno"></span><span class="comment" id="1221382">//&nbsp;Make&nbsp;Title&nbsp;Text&nbsp;Look&nbsp;Good&nbsp;In&nbsp;Our&nbsp;Template&#39;s&nbsp;Output.</span><br>
<span class="lineno"></span><span class="keyword" id="1221437">func</span>&nbsp;<span class="ident" id="1221442">ExampleTemplate_func</span><span class="op" id="1221462">(</span><span class="op" id="1221463">)</span>&nbsp;<span class="op" id="1221465">{</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="comment" id="1221468">//&nbsp;First&nbsp;we&nbsp;create&nbsp;a&nbsp;FuncMap&nbsp;with&nbsp;which&nbsp;to&nbsp;register&nbsp;the&nbsp;function.</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="ident" id="1221535">funcMap</span>&nbsp;<span class="op" id="1221543">:=</span>&nbsp;<span class="ident" id="1221546">template</span><span class="op" id="1221554">.</span><span class="ident" id="1221555">FuncMap</span><span class="op" id="1221562">{</span><br>
<span class="lineno">20</span>&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp<span class="comment" id="1221566">//&nbsp;The&nbsp;name&nbsp;&#34;title&#34;&nbsp;is&nbsp;what&nbsp;the&nbsp;function&nbsp;will&nbsp;be&nbsp;called&nbsp;in&nbsp;the&nbsp;template&nbsp;text.</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp<span class="string" id="1221646">&#34;title&#34;</span><span class="op" id="1221653">:</span>&nbsp;<span class="ident" id="1221655">strings</span><span class="op" id="1221662">.</span><span class="ident" id="1221663">Title</span><span class="op" id="1221668">,</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="op" id="1221671">}</span><br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="comment" id="1221675">//&nbsp;A&nbsp;simple&nbsp;template&nbsp;definition&nbsp;to&nbsp;test&nbsp;our&nbsp;function.</span><br>
<span class="lineno">25</span>&nbsp;&nbsp;&nbsp;&nbsp<span class="comment" id="1221730">//&nbsp;We&nbsp;print&nbsp;the&nbsp;input&nbsp;text&nbsp;several&nbsp;ways:</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="comment" id="1221772">//&nbsp;-&nbsp;the&nbsp;original</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="comment" id="1221791">//&nbsp;-&nbsp;title-cased</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="comment" id="1221809">//&nbsp;-&nbsp;title-cased&nbsp;and&nbsp;then&nbsp;printed&nbsp;with&nbsp;%q</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="comment" id="1221852">//&nbsp;-&nbsp;printed&nbsp;with&nbsp;%q&nbsp;and&nbsp;then&nbsp;title-cased.</span><br>
<span class="lineno">30</span>&nbsp;&nbsp;&nbsp;&nbsp<span class="keyword" id="1221896">const</span>&nbsp;<span class="ident" id="1221902">templateText</span>&nbsp;<span class="op" id="1221915">=</span>&nbsp;<span class="string" id="1221917">`<br>
<span class="lineno"></span>Input:&nbsp;{{printf&nbsp;&#34;%q&#34;&nbsp;.}}<br>
<span class="lineno"></span>Output&nbsp;0:&nbsp;{{title&nbsp;.}}<br>
<span class="lineno"></span>Output&nbsp;1:&nbsp;{{title&nbsp;.&nbsp;|&nbsp;printf&nbsp;&#34;%q&#34;}}<br>
<span class="lineno"></span>Output&nbsp;2:&nbsp;{{printf&nbsp;&#34;%q&#34;&nbsp;.&nbsp;|&nbsp;title}}<br>
<span class="lineno">35</span>`</span><br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="comment" id="1222042">//&nbsp;Create&nbsp;a&nbsp;template,&nbsp;add&nbsp;the&nbsp;function&nbsp;map,&nbsp;and&nbsp;parse&nbsp;the&nbsp;text.</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="ident" id="1222107">tmpl</span><span class="op" id="1222111">,</span>&nbsp;<span class="ident" id="1222113">err</span>&nbsp;<span class="op" id="1222117">:=</span>&nbsp;<span class="ident" id="1222120">template</span><span class="op" id="1222128">.</span><span class="ident" id="1222129">New</span><span class="op" id="1222132">(</span><span class="string" id="1222133">&#34;titleTest&#34;</span><span class="op" id="1222144">)</span><span class="op" id="1222145">.</span><span class="ident" id="1222146">Funcs</span><span class="op" id="1222151">(</span><span class="ident" id="1222152">funcMap</span><span class="op" id="1222159">)</span><span class="op" id="1222160">.</span><span class="ident" id="1222161">Parse</span><span class="op" id="1222166">(</span><span class="ident" id="1222167">templateText</span><span class="op" id="1222179">)</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="keyword" id="1222182">if</span>&nbsp;<span class="ident" id="1222185">err</span>&nbsp;<span class="op" id="1222189">!=</span>&nbsp;<span class="ident" id="1222192">nil</span>&nbsp;<span class="op" id="1222196">{</span><br>
<span class="lineno">40</span>&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp<span class="ident" id="1222200">log</span><span class="op" id="1222203">.</span><span class="ident" id="1222204">Fatalf</span><span class="op" id="1222210">(</span><span class="string" id="1222211">&#34;parsing:&nbsp;%s&#34;</span><span class="op" id="1222224">,</span>&nbsp;<span class="ident" id="1222226">err</span><span class="op" id="1222229">)</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="op" id="1222232">}</span><br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="comment" id="1222236">//&nbsp;Run&nbsp;the&nbsp;template&nbsp;to&nbsp;verify&nbsp;the&nbsp;output.</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="ident" id="1222279">err</span>&nbsp;<span class="op" id="1222283">=</span>&nbsp;<span class="ident" id="1222285">tmpl</span><span class="op" id="1222289">.</span><span class="ident" id="1222290">Execute</span><span class="op" id="1222297">(</span><span class="ident" id="1222298">os</span><span class="op" id="1222300">.</span><span class="ident" id="1222301">Stdout</span><span class="op" id="1222307">,</span>&nbsp;<span class="string" id="1222309">&#34;the&nbsp;go&nbsp;programming&nbsp;language&#34;</span><span class="op" id="1222338">)</span><br>
<span class="lineno">45</span>&nbsp;&nbsp;&nbsp;&nbsp<span class="keyword" id="1222341">if</span>&nbsp;<span class="ident" id="1222344">err</span>&nbsp;<span class="op" id="1222348">!=</span>&nbsp;<span class="ident" id="1222351">nil</span>&nbsp;<span class="op" id="1222355">{</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp<span class="ident" id="1222359">log</span><span class="op" id="1222362">.</span><span class="ident" id="1222363">Fatalf</span><span class="op" id="1222369">(</span><span class="string" id="1222370">&#34;execution:&nbsp;%s&#34;</span><span class="op" id="1222385">,</span>&nbsp;<span class="ident" id="1222387">err</span><span class="op" id="1222390">)</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="op" id="1222393">}</span><br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="comment" id="1222397">//&nbsp;Output:</span><br>
<span class="lineno">50</span>&nbsp;&nbsp;&nbsp;&nbsp<span class="comment" id="1222409">//&nbsp;Input:&nbsp;&#34;the&nbsp;go&nbsp;programming&nbsp;language&#34;</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="comment" id="1222450">//&nbsp;Output&nbsp;0:&nbsp;The&nbsp;Go&nbsp;Programming&nbsp;Language</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="comment" id="1222492">//&nbsp;Output&nbsp;1:&nbsp;&#34;The&nbsp;Go&nbsp;Programming&nbsp;Language&#34;</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&nbsp;&nbsp<span class="comment" id="1222536">//&nbsp;Output&nbsp;2:&nbsp;&#34;The&nbsp;Go&nbsp;Programming&nbsp;Language&#34;</span><br>
<span class="lineno"></span><span class="op" id="1222579">}</span>
</div>
</body>
</html>
