<!doctype html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Go standard library</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<div class="pkgnavi">
<h1><a href="/gostd/index.html">Go Standard Library</a></h1>
<h2>text/template</h2>
<ul>
<li><a href="/gostd/text/template/doc.go.html">doc.go</a></li>
<li><a href="/gostd/text/template/example_test.go.html">example_test.go</a></li>
<li><a href="/gostd/text/template/examplefiles_test.go.html">examplefiles_test.go</a></li>
<li><a href="/gostd/text/template/examplefunc_test.go.html">examplefunc_test.go</a></li>
<li><a href="/gostd/text/template/exec.go.html">exec.go</a></li>
<li><a href="/gostd/text/template/exec_test.go.html">exec_test.go</a></li>
<li><a href="/gostd/text/template/funcs.go.html">funcs.go</a></li>
<li><a href="/gostd/text/template/helper.go.html">helper.go</a></li>
<li><a href="/gostd/text/template/multi_test.go.html">multi_test.go</a></li>
<li><a href="/gostd/text/template/template.go.html">template.go</a></li>
</ul>
</div>
</body>
</html>
