<!doctype html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Go standard library</title>
	<link rel="stylesheet" type="text/css" href="/gostd.css">
</head>

<body>

<div class="pkgnavi">
<h1><a href="/gostd/index.html">Go Standard Library</a></h1>
<h2>html/template</h2>
<ul>
<li><a href="/gostd/html/template/attr.go.html">attr.go</a></li>
<li><a href="/gostd/html/template/clone_test.go.html">clone_test.go</a></li>
<li><a href="/gostd/html/template/content.go.html">content.go</a></li>
<li><a href="/gostd/html/template/content_test.go.html">content_test.go</a></li>
<li><a href="/gostd/html/template/context.go.html">context.go</a></li>
<li><a href="/gostd/html/template/css.go.html">css.go</a></li>
<li><a href="/gostd/html/template/css_test.go.html">css_test.go</a></li>
<li><a href="/gostd/html/template/doc.go.html" class="current">doc.go</a></li>
<li><a href="/gostd/html/template/error.go.html">error.go</a></li>
<li><a href="/gostd/html/template/escape.go.html">escape.go</a></li>
<li><a href="/gostd/html/template/escape_test.go.html">escape_test.go</a></li>
<li><a href="/gostd/html/template/html.go.html">html.go</a></li>
<li><a href="/gostd/html/template/html_test.go.html">html_test.go</a></li>
<li><a href="/gostd/html/template/js.go.html">js.go</a></li>
<li><a href="/gostd/html/template/js_test.go.html">js_test.go</a></li>
<li><a href="/gostd/html/template/template.go.html">template.go</a></li>
<li><a href="/gostd/html/template/transition.go.html">transition.go</a></li>
<li><a href="/gostd/html/template/url.go.html">url.go</a></li>
<li><a href="/gostd/html/template/url_test.go.html">url_test.go</a></li>
</ul>
</div>
<div class="code">
<span class="lineno">1</span><span class="comment" id="5042362">//&nbsp;Copyright&nbsp;2011&nbsp;The&nbsp;Go&nbsp;Authors.&nbsp;All&nbsp;rights&nbsp;reserved.</span><br>
<span class="lineno"></span><span class="comment" id="5042417">//&nbsp;Use&nbsp;of&nbsp;this&nbsp;source&nbsp;code&nbsp;is&nbsp;governed&nbsp;by&nbsp;a&nbsp;BSD-style</span><br>
<span class="lineno"></span><span class="comment" id="5042471">//&nbsp;license&nbsp;that&nbsp;can&nbsp;be&nbsp;found&nbsp;in&nbsp;the&nbsp;LICENSE&nbsp;file.</span><br>
<span class="lineno"></span><br>
<span class="lineno">5</span><span class="comment" id="5042522">/*<br>
<span class="lineno"></span>Package&nbsp;template&nbsp;(html/template)&nbsp;implements&nbsp;data-driven&nbsp;templates&nbsp;for<br>
<span class="lineno"></span>generating&nbsp;HTML&nbsp;output&nbsp;safe&nbsp;against&nbsp;code&nbsp;injection.&nbsp;It&nbsp;provides&nbsp;the<br>
<span class="lineno"></span>same&nbsp;interface&nbsp;as&nbsp;package&nbsp;text/template&nbsp;and&nbsp;should&nbsp;be&nbsp;used&nbsp;instead&nbsp;of<br>
<span class="lineno"></span>text/template&nbsp;whenever&nbsp;the&nbsp;output&nbsp;is&nbsp;HTML.<br>
<span class="lineno">10</span><br>
<span class="lineno"></span>The&nbsp;documentation&nbsp;here&nbsp;focuses&nbsp;on&nbsp;the&nbsp;security&nbsp;features&nbsp;of&nbsp;the&nbsp;package.<br>
<span class="lineno"></span>For&nbsp;information&nbsp;about&nbsp;how&nbsp;to&nbsp;program&nbsp;the&nbsp;templates&nbsp;themselves,&nbsp;see&nbsp;the<br>
<span class="lineno"></span>documentation&nbsp;for&nbsp;text/template.<br>
<span class="lineno"></span><br>
<span class="lineno">15</span>Introduction<br>
<span class="lineno"></span><br>
<span class="lineno"></span>This&nbsp;package&nbsp;wraps&nbsp;package&nbsp;text/template&nbsp;so&nbsp;you&nbsp;can&nbsp;share&nbsp;its&nbsp;template&nbsp;API<br>
<span class="lineno"></span>to&nbsp;parse&nbsp;and&nbsp;execute&nbsp;HTML&nbsp;templates&nbsp;safely.<br>
<span class="lineno"></span><br>
<span class="lineno">20</span>&nbsp;&nbsp;tmpl,&nbsp;err&nbsp;:=&nbsp;template.New(&#34;name&#34;).Parse(...)<br>
<span class="lineno"></span>&nbsp;&nbsp;//&nbsp;Error&nbsp;checking&nbsp;elided<br>
<span class="lineno"></span>&nbsp;&nbsp;err&nbsp;=&nbsp;tmpl.Execute(out,&nbsp;data)<br>
<span class="lineno"></span><br>
<span class="lineno"></span>If&nbsp;successful,&nbsp;tmpl&nbsp;will&nbsp;now&nbsp;be&nbsp;injection-safe.&nbsp;Otherwise,&nbsp;err&nbsp;is&nbsp;an&nbsp;error<br>
<span class="lineno">25</span>defined&nbsp;in&nbsp;the&nbsp;docs&nbsp;for&nbsp;ErrorCode.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>HTML&nbsp;templates&nbsp;treat&nbsp;data&nbsp;values&nbsp;as&nbsp;plain&nbsp;text&nbsp;which&nbsp;should&nbsp;be&nbsp;encoded&nbsp;so&nbsp;they<br>
<span class="lineno"></span>can&nbsp;be&nbsp;safely&nbsp;embedded&nbsp;in&nbsp;an&nbsp;HTML&nbsp;document.&nbsp;The&nbsp;escaping&nbsp;is&nbsp;contextual,&nbsp;so<br>
<span class="lineno"></span>actions&nbsp;can&nbsp;appear&nbsp;within&nbsp;JavaScript,&nbsp;CSS,&nbsp;and&nbsp;URI&nbsp;contexts.<br>
<span class="lineno">30</span><br>
<span class="lineno"></span>The&nbsp;security&nbsp;model&nbsp;used&nbsp;by&nbsp;this&nbsp;package&nbsp;assumes&nbsp;that&nbsp;template&nbsp;authors&nbsp;are<br>
<span class="lineno"></span>trusted,&nbsp;while&nbsp;Execute&#39;s&nbsp;data&nbsp;parameter&nbsp;is&nbsp;not.&nbsp;More&nbsp;details&nbsp;are<br>
<span class="lineno"></span>provided&nbsp;below.<br>
<span class="lineno"></span><br>
<span class="lineno">35</span>Example<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;import&nbsp;&#34;text/template&#34;<br>
<span class="lineno"></span>&nbsp;&nbsp;...<br>
<span class="lineno"></span>&nbsp;&nbsp;t,&nbsp;err&nbsp;:=&nbsp;template.New(&#34;foo&#34;).Parse(`{{define&nbsp;&#34;T&#34;}}Hello,&nbsp;{{.}}!{{end}}`)<br>
<span class="lineno">40</span>&nbsp;&nbsp;err&nbsp;=&nbsp;t.ExecuteTemplate(out,&nbsp;&#34;T&#34;,&nbsp;&#34;&lt;script&gt;alert(&#39;you&nbsp;have&nbsp;been&nbsp;pwned&#39;)&lt;/script&gt;&#34;)<br>
<span class="lineno"></span><br>
<span class="lineno"></span>produces<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;Hello,&nbsp;&lt;script&gt;alert(&#39;you&nbsp;have&nbsp;been&nbsp;pwned&#39;)&lt;/script&gt;!<br>
<span class="lineno">45</span><br>
<span class="lineno"></span>but&nbsp;the&nbsp;contextual&nbsp;autoescaping&nbsp;in&nbsp;html/template<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;import&nbsp;&#34;html/template&#34;<br>
<span class="lineno"></span>&nbsp;&nbsp;...<br>
<span class="lineno">50</span>&nbsp;&nbsp;t,&nbsp;err&nbsp;:=&nbsp;template.New(&#34;foo&#34;).Parse(`{{define&nbsp;&#34;T&#34;}}Hello,&nbsp;{{.}}!{{end}}`)<br>
<span class="lineno"></span>&nbsp;&nbsp;err&nbsp;=&nbsp;t.ExecuteTemplate(out,&nbsp;&#34;T&#34;,&nbsp;&#34;&lt;script&gt;alert(&#39;you&nbsp;have&nbsp;been&nbsp;pwned&#39;)&lt;/script&gt;&#34;)<br>
<span class="lineno"></span><br>
<span class="lineno"></span>produces&nbsp;safe,&nbsp;escaped&nbsp;HTML&nbsp;output<br>
<span class="lineno"></span><br>
<span class="lineno">55</span>&nbsp;&nbsp;Hello,&nbsp;&amp;lt;script&amp;gt;alert(&amp;#39;you&nbsp;have&nbsp;been&nbsp;pwned&amp;#39;)&amp;lt;/script&amp;gt;!<br>
<span class="lineno"></span><br>
<span class="lineno"></span><br>
<span class="lineno"></span>Contexts<br>
<span class="lineno"></span><br>
<span class="lineno">60</span>This&nbsp;package&nbsp;understands&nbsp;HTML,&nbsp;CSS,&nbsp;JavaScript,&nbsp;and&nbsp;URIs.&nbsp;It&nbsp;adds&nbsp;sanitizing<br>
<span class="lineno"></span>functions&nbsp;to&nbsp;each&nbsp;simple&nbsp;action&nbsp;pipeline,&nbsp;so&nbsp;given&nbsp;the&nbsp;excerpt<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&lt;a&nbsp;href=&#34;/search?q={{.}}&#34;&gt;{{.}}&lt;/a&gt;<br>
<span class="lineno"></span><br>
<span class="lineno">65</span>At&nbsp;parse&nbsp;time&nbsp;each&nbsp;{{.}}&nbsp;is&nbsp;overwritten&nbsp;to&nbsp;add&nbsp;escaping&nbsp;functions&nbsp;as&nbsp;necessary.<br>
<span class="lineno"></span>In&nbsp;this&nbsp;case&nbsp;it&nbsp;becomes<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;&lt;a&nbsp;href=&#34;/search?q={{.&nbsp;|&nbsp;urlquery}}&#34;&gt;{{.&nbsp;|&nbsp;html}}&lt;/a&gt;<br>
<span class="lineno"></span><br>
<span class="lineno">70</span><br>
<span class="lineno"></span>Errors<br>
<span class="lineno"></span><br>
<span class="lineno"></span>See&nbsp;the&nbsp;documentation&nbsp;of&nbsp;ErrorCode&nbsp;for&nbsp;details.<br>
<span class="lineno"></span><br>
<span class="lineno">75</span><br>
<span class="lineno"></span>A&nbsp;fuller&nbsp;picture<br>
<span class="lineno"></span><br>
<span class="lineno"></span>The&nbsp;rest&nbsp;of&nbsp;this&nbsp;package&nbsp;comment&nbsp;may&nbsp;be&nbsp;skipped&nbsp;on&nbsp;first&nbsp;reading;&nbsp;it&nbsp;includes<br>
<span class="lineno"></span>details&nbsp;necessary&nbsp;to&nbsp;understand&nbsp;escaping&nbsp;contexts&nbsp;and&nbsp;error&nbsp;messages.&nbsp;Most&nbsp;users<br>
<span class="lineno">80</span>will&nbsp;not&nbsp;need&nbsp;to&nbsp;understand&nbsp;these&nbsp;details.<br>
<span class="lineno"></span><br>
<span class="lineno"></span><br>
<span class="lineno"></span>Contexts<br>
<span class="lineno"></span><br>
<span class="lineno">85</span>Assuming&nbsp;{{.}}&nbsp;is&nbsp;`O&#39;Reilly:&nbsp;How&nbsp;are&nbsp;&lt;i&gt;you&lt;/i&gt;?`,&nbsp;the&nbsp;table&nbsp;below&nbsp;shows<br>
<span class="lineno"></span>how&nbsp;{{.}}&nbsp;appears&nbsp;when&nbsp;used&nbsp;in&nbsp;the&nbsp;context&nbsp;to&nbsp;the&nbsp;left.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;Context&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{.}}&nbsp;After<br>
<span class="lineno"></span>&nbsp;&nbsp;{{.}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O&#39;Reilly:&nbsp;How&nbsp;are&nbsp;&amp;lt;i&amp;gt;you&amp;lt;/i&amp;gt;?<br>
<span class="lineno">90</span>&nbsp;&nbsp;&lt;a&nbsp;title=&#39;{{.}}&#39;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O&amp;#39;Reilly:&nbsp;How&nbsp;are&nbsp;you?<br>
<span class="lineno"></span>&nbsp;&nbsp;&lt;a&nbsp;href=&#34;/{{.}}&#34;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O&amp;#39;Reilly:&nbsp;How&nbsp;are&nbsp;%3ci%3eyou%3c/i%3e?<br>
<span class="lineno"></span>&nbsp;&nbsp;&lt;a&nbsp;href=&#34;?q={{.}}&#34;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O&amp;#39;Reilly%3a%20How%20are%3ci%3e...%3f<br>
<span class="lineno"></span>&nbsp;&nbsp;&lt;a&nbsp;onx=&#39;f(&#34;{{.}}&#34;)&#39;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O\x27Reilly:&nbsp;How&nbsp;are&nbsp;\x3ci\x3eyou...?<br>
<span class="lineno"></span>&nbsp;&nbsp;&lt;a&nbsp;onx=&#39;f({{.}})&#39;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#34;O\x27Reilly:&nbsp;How&nbsp;are&nbsp;\x3ci\x3eyou...?&#34;<br>
<span class="lineno">95</span>&nbsp;&nbsp;&lt;a&nbsp;onx=&#39;pattern&nbsp;=&nbsp;/{{.}}/;&#39;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O\x27Reilly:&nbsp;How&nbsp;are&nbsp;\x3ci\x3eyou...\x3f<br>
<span class="lineno"></span><br>
<span class="lineno"></span>If&nbsp;used&nbsp;in&nbsp;an&nbsp;unsafe&nbsp;context,&nbsp;then&nbsp;the&nbsp;value&nbsp;might&nbsp;be&nbsp;filtered&nbsp;out:<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;Context&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{.}}&nbsp;After<br>
<span class="lineno">100</span>&nbsp;&nbsp;&lt;a&nbsp;href=&#34;{{.}}&#34;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#ZgotmplZ<br>
<span class="lineno"></span><br>
<span class="lineno"></span>since&nbsp;&#34;O&#39;Reilly:&#34;&nbsp;is&nbsp;not&nbsp;an&nbsp;allowed&nbsp;protocol&nbsp;like&nbsp;&#34;http:&#34;.<br>
<span class="lineno"></span><br>
<span class="lineno"></span><br>
<span class="lineno">105</span>If&nbsp;{{.}}&nbsp;is&nbsp;the&nbsp;innocuous&nbsp;word,&nbsp;`left`,&nbsp;then&nbsp;it&nbsp;can&nbsp;appear&nbsp;more&nbsp;widely,<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;Context&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{.}}&nbsp;After<br>
<span class="lineno"></span>&nbsp;&nbsp;{{.}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;left<br>
<span class="lineno"></span>&nbsp;&nbsp;&lt;a&nbsp;title=&#39;{{.}}&#39;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;left<br>
<span class="lineno">110</span>&nbsp;&nbsp;&lt;a&nbsp;href=&#39;{{.}}&#39;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;left<br>
<span class="lineno"></span>&nbsp;&nbsp;&lt;a&nbsp;href=&#39;/{{.}}&#39;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;left<br>
<span class="lineno"></span>&nbsp;&nbsp;&lt;a&nbsp;href=&#39;?dir={{.}}&#39;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;left<br>
<span class="lineno"></span>&nbsp;&nbsp;&lt;a&nbsp;style=&#34;border-{{.}}:&nbsp;4px&#34;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;left<br>
<span class="lineno"></span>&nbsp;&nbsp;&lt;a&nbsp;style=&#34;align:&nbsp;{{.}}&#34;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;left<br>
<span class="lineno">115</span>&nbsp;&nbsp;&lt;a&nbsp;style=&#34;background:&nbsp;&#39;{{.}}&#39;&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;left<br>
<span class="lineno"></span>&nbsp;&nbsp;&lt;a&nbsp;style=&#34;background:&nbsp;url(&#39;{{.}}&#39;)&gt;&nbsp;&nbsp;left<br>
<span class="lineno"></span>&nbsp;&nbsp;&lt;style&gt;p.{{.}}&nbsp;{color:red}&lt;/style&gt;&nbsp;&nbsp;&nbsp;left<br>
<span class="lineno"></span><br>
<span class="lineno"></span>Non-string&nbsp;values&nbsp;can&nbsp;be&nbsp;used&nbsp;in&nbsp;JavaScript&nbsp;contexts.<br>
<span class="lineno">120</span>If&nbsp;{{.}}&nbsp;is<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;struct{A,B&nbsp;string}{&nbsp;&#34;foo&#34;,&nbsp;&#34;bar&#34;&nbsp;}<br>
<span class="lineno"></span><br>
<span class="lineno"></span>in&nbsp;the&nbsp;escaped&nbsp;template<br>
<span class="lineno">125</span><br>
<span class="lineno"></span>&nbsp;&nbsp;&lt;script&gt;var&nbsp;pair&nbsp;=&nbsp;{{.}};&lt;/script&gt;<br>
<span class="lineno"></span><br>
<span class="lineno"></span>then&nbsp;the&nbsp;template&nbsp;output&nbsp;is<br>
<span class="lineno"></span><br>
<span class="lineno">130</span>&nbsp;&nbsp;&lt;script&gt;var&nbsp;pair&nbsp;=&nbsp;{&#34;A&#34;:&nbsp;&#34;foo&#34;,&nbsp;&#34;B&#34;:&nbsp;&#34;bar&#34;};&lt;/script&gt;<br>
<span class="lineno"></span><br>
<span class="lineno"></span>See&nbsp;package&nbsp;json&nbsp;to&nbsp;understand&nbsp;how&nbsp;non-string&nbsp;content&nbsp;is&nbsp;marshalled&nbsp;for<br>
<span class="lineno"></span>embedding&nbsp;in&nbsp;JavaScript&nbsp;contexts.<br>
<span class="lineno"></span><br>
<span class="lineno">135</span><br>
<span class="lineno"></span>Typed&nbsp;Strings<br>
<span class="lineno"></span><br>
<span class="lineno"></span>By&nbsp;default,&nbsp;this&nbsp;package&nbsp;assumes&nbsp;that&nbsp;all&nbsp;pipelines&nbsp;produce&nbsp;a&nbsp;plain&nbsp;text&nbsp;string.<br>
<span class="lineno"></span>It&nbsp;adds&nbsp;escaping&nbsp;pipeline&nbsp;stages&nbsp;necessary&nbsp;to&nbsp;correctly&nbsp;and&nbsp;safely&nbsp;embed&nbsp;that<br>
<span class="lineno">140</span>plain&nbsp;text&nbsp;string&nbsp;in&nbsp;the&nbsp;appropriate&nbsp;context.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>When&nbsp;a&nbsp;data&nbsp;value&nbsp;is&nbsp;not&nbsp;plain&nbsp;text,&nbsp;you&nbsp;can&nbsp;make&nbsp;sure&nbsp;it&nbsp;is&nbsp;not&nbsp;over-escaped<br>
<span class="lineno"></span>by&nbsp;marking&nbsp;it&nbsp;with&nbsp;its&nbsp;type.<br>
<span class="lineno"></span><br>
<span class="lineno">145</span>Types&nbsp;HTML,&nbsp;JS,&nbsp;URL,&nbsp;and&nbsp;others&nbsp;from&nbsp;content.go&nbsp;can&nbsp;carry&nbsp;safe&nbsp;content&nbsp;that&nbsp;is<br>
<span class="lineno"></span>exempted&nbsp;from&nbsp;escaping.<br>
<span class="lineno"></span><br>
<span class="lineno"></span>The&nbsp;template<br>
<span class="lineno"></span><br>
<span class="lineno">150</span>&nbsp;&nbsp;Hello,&nbsp;{{.}}!<br>
<span class="lineno"></span><br>
<span class="lineno"></span>can&nbsp;be&nbsp;invoked&nbsp;with<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;tmpl.Execute(out,&nbsp;HTML(`&lt;b&gt;World&lt;/b&gt;`))<br>
<span class="lineno">155</span><br>
<span class="lineno"></span>to&nbsp;produce<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;Hello,&nbsp;&lt;b&gt;World&lt;/b&gt;!<br>
<span class="lineno"></span><br>
<span class="lineno">160</span>instead&nbsp;of&nbsp;the<br>
<span class="lineno"></span><br>
<span class="lineno"></span>&nbsp;&nbsp;Hello,&nbsp;&amp;lt;b&amp;gt;World&amp;lt;b&amp;gt;!<br>
<span class="lineno"></span><br>
<span class="lineno"></span>that&nbsp;would&nbsp;have&nbsp;been&nbsp;produced&nbsp;if&nbsp;{{.}}&nbsp;was&nbsp;a&nbsp;regular&nbsp;string.<br>
<span class="lineno">165</span><br>
<span class="lineno"></span><br>
<span class="lineno"></span>Security&nbsp;Model<br>
<span class="lineno"></span><br>
<span class="lineno"></span>http://js-quasis-libraries-and-repl.googlecode.com/svn/trunk/safetemplate.html#problem_definition&nbsp;defines&nbsp;&#34;safe&#34;&nbsp;as&nbsp;used&nbsp;by&nbsp;this&nbsp;package.<br>
<span class="lineno">170</span><br>
<span class="lineno"></span>This&nbsp;package&nbsp;assumes&nbsp;that&nbsp;template&nbsp;authors&nbsp;are&nbsp;trusted,&nbsp;that&nbsp;Execute&#39;s&nbsp;data<br>
<span class="lineno"></span>parameter&nbsp;is&nbsp;not,&nbsp;and&nbsp;seeks&nbsp;to&nbsp;preserve&nbsp;the&nbsp;properties&nbsp;below&nbsp;in&nbsp;the&nbsp;face<br>
<span class="lineno"></span>of&nbsp;untrusted&nbsp;data:<br>
<span class="lineno"></span><br>
<span class="lineno">175</span>Structure&nbsp;Preservation&nbsp;Property:<br>
<span class="lineno"></span>&#34;...&nbsp;when&nbsp;a&nbsp;template&nbsp;author&nbsp;writes&nbsp;an&nbsp;HTML&nbsp;tag&nbsp;in&nbsp;a&nbsp;safe&nbsp;templating&nbsp;language,<br>
<span class="lineno"></span>the&nbsp;browser&nbsp;will&nbsp;interpret&nbsp;the&nbsp;corresponding&nbsp;portion&nbsp;of&nbsp;the&nbsp;output&nbsp;as&nbsp;a&nbsp;tag<br>
<span class="lineno"></span>regardless&nbsp;of&nbsp;the&nbsp;values&nbsp;of&nbsp;untrusted&nbsp;data,&nbsp;and&nbsp;similarly&nbsp;for&nbsp;other&nbsp;structures<br>
<span class="lineno"></span>such&nbsp;as&nbsp;attribute&nbsp;boundaries&nbsp;and&nbsp;JS&nbsp;and&nbsp;CSS&nbsp;string&nbsp;boundaries.&#34;<br>
<span class="lineno">180</span><br>
<span class="lineno"></span>Code&nbsp;Effect&nbsp;Property:<br>
<span class="lineno"></span>&#34;...&nbsp;only&nbsp;code&nbsp;specified&nbsp;by&nbsp;the&nbsp;template&nbsp;author&nbsp;should&nbsp;run&nbsp;as&nbsp;a&nbsp;result&nbsp;of<br>
<span class="lineno"></span>injecting&nbsp;the&nbsp;template&nbsp;output&nbsp;into&nbsp;a&nbsp;page&nbsp;and&nbsp;all&nbsp;code&nbsp;specified&nbsp;by&nbsp;the<br>
<span class="lineno"></span>template&nbsp;author&nbsp;should&nbsp;run&nbsp;as&nbsp;a&nbsp;result&nbsp;of&nbsp;the&nbsp;same.&#34;<br>
<span class="lineno">185</span><br>
<span class="lineno"></span>Least&nbsp;Surprise&nbsp;Property:<br>
<span class="lineno"></span>&#34;A&nbsp;developer&nbsp;(or&nbsp;code&nbsp;reviewer)&nbsp;familiar&nbsp;with&nbsp;HTML,&nbsp;CSS,&nbsp;and&nbsp;JavaScript,&nbsp;who<br>
<span class="lineno"></span>knows&nbsp;that&nbsp;contextual&nbsp;autoescaping&nbsp;happens&nbsp;should&nbsp;be&nbsp;able&nbsp;to&nbsp;look&nbsp;at&nbsp;a&nbsp;{{.}}<br>
<span class="lineno"></span>and&nbsp;correctly&nbsp;infer&nbsp;what&nbsp;sanitization&nbsp;happens.&#34;<br>
<span class="lineno">190</span>*/</span><br>
<span class="lineno"></span><span class="keyword" id="5048576">package</span>&nbsp;<span class="ident" id="5048584">template</span>
</div>
</body>
</html>
