div.pkgnavi {
    position: fixed;
    top: .1in;
    left: .1in;
    /* float: left; */
    width: 240px;
    font-family: "Consolas", monospace;
    font-size: 13px;
    margin-left: .1in;
}

div.pkgnavi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 700px;
    overflow: auto;
}

div.pkgnavi li {
    margin: 0;
    padding: 0;
    line-height: 18px;
}

div.pkgs {
    margin-left: .2in;
    margin-right: .2in;
}

ul.pkgs {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: .1in;
    margin-right: .1in;
    margin-top: .1in;
    margin-bottom: .1in;
    -moz-column-width: 1.7in;
    -webkit-column-width: 1.7in;
    column-width: 1.7in;
}

ul.pkgs li {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 2px;
    padding-bottom: 2px;

    font-family: "Consolas", monospace;
    font-size: 13px;
    font-weight: bold;
}

ul.pkgs a {
    color: #666;
}

h1 {
    margin-top: 0;
    padding-top: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #933;
}

h1.home {
    margin-left: .2in;
    margin-right: .2in;
    margin-top: .2in;
    margin-bottom: .3in;
    font-size: 18px;
    text-align: center;
}

div.pkgnavi h2 {
    font-family: "Consolas", monospace;
    font-size: 13px;
    font-weight: bold;
    color: #555;
}

div.pkgnavi h2 {
    margin-top: .2in;
}
    
div.code {
    margin-top: .2in;
    margin-left: 280px;
    font-family: "Consolas", monospace;
    color: #333;
    font-size: 13px;
    line-height: 17px;

    padding-left: .1in;
    border-left: 1px solid #ddd;
}

.comment { color: #888; }
.ident { color: #333; }
.builtinfunc { color: #933; }
.builtintype { color: #060; }
.num { color: #930; }
.string { color: #609; }
.op { color: #666; }
.keyword { color: #960; }
.na { color: #f00; }

body {
    margin-bottom: .7in;
}

span.lineno {
    float: left;
    width: .3in;
    margin-left: -.5in;
    font-size: 10px;
    color: #aaa;
    text-align: right;
    height: 12px;
}

div.code a, h1 a { color: inherit; }

a { color: #339; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { color: #933; }
a.current { color: #900; font-weight: bold; }
