div.code {
    font-family: "Consolas", monospace;
    color: #333;
    font-size: 13px;
    line-height: 17px;
}

.comment { color: #888; }
.ident { color: #333; }
.builtinfunc { color: #933; }
.builtintype { color: #060; }
.num { color: #930; }
.string { color: #609; }
.op { color: #666; }
.keyword { color: #960; }
.na { color: #f00; }

body {
}

span.lineno {
    display: inline-block;
    font-size: 10px;
    color: #aaa;
    padding-right: .2in;
    text-align: right;
    width: .3in;
}

a { text-decoration: none; color: inherit; }
a:hover { text-decoration: underline; color: inherit; }
